<div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h2>Hard Qode</h2>
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'lms:index' %}" class="nav-link px-2">Продукты</a></li>
  </ul>

  <div class="col-md-3 text-end">
    {% if user.is_authenticated %}
    <h6 style="display: inline">Hi, <span style="color: blue;">{{ user.username }}</span>!</h6>
    <a href="#"><button type="button" class="btn btn-outline-primary me-2">Logout</button></a>
    {% else %}
    <a href="#"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
    <a href="#"><button type="button" class="btn btn-primary">Sign-up</button></a>
    {% endif %}
  </div>
</header>
</div>