{% extends 'lms/base.html' %}

{% block title %}Продукты{% endblock %}


{% block content %}


{% for object in object_list %}
<div class="container">
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(15, 10, 222, 0.8)); background-size: cover;">

    <div class="col-lg-6 px-0" style="color: white;">
      <h1 class="display-4 fst-italic">{{ object.title }}</h1>
      <p class="my-1 small">Создано: {{ object.owner }}</p>
      <p class="lead mb-0"><a href="#" class="text-body-white fw-bold" style="color: white;">Учиться...</a></p>
    </div>

  </div>
</div>
{% endfor %}


{% endblock %}