{% extends 'lms/base.html' %}

{% block title %}Уроки продукта{% endblock %}


{% block content %}

{% if object_list %}
{% for object in object_list %}
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary"
         style="background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(234, 10, 222, 0.8)); background-size: cover;">

        <div class="col-lg-6 px-0" style="color: white;">
            <h1 class="display-4 fst-italic">{{ object.title }}</h1>
            <p class="lead mb-0"><a href="{% url 'lms:lesson-details' object.pk %}"" class="text-body-white fw-bold" style="color: white;">Учиться...</a></p>
        </div>

    </div>
</div>
{% endfor %}
{% else %}
<div class="container">
    <h1>В этом курсе ещё нет уроков</h1>
</div>
{% endif %}


{% endblock %}